# Dependencies
node_modules/
bun.lockb
bun.lock

# Environment & Secrets
.env
.env.local
proxmox/credentials.env

# Dynamic Data & State
data/state.json
data/*.sqlite*

# Large Assets (ISOs, raw images, kernels, initrd)
assets/**/*.iso
assets/**/*.raw
assets/**/*.qcow2
assets/**/*.img
assets/**/vmlinuz*
assets/**/initrd*
assets/**/initramfs*
!assets/**/.gitkeep

# System & IDE
.DS_Store
*.log
dist/
